/*-----------------------------Common--------------------------------*/
.Products, .Features, .PartFour, .Cooperate { margin: 15px auto; }
.indexTitle { height: 40px; line-height: 40px; }
.dd_gray { background: url(../Images/gray_bg.gif) top repeat-y; }
.dd_white { background: url(../Images/white_bg.gif) top repeat-y; }
/*-----------------------------Banner--------------------------------*/
.Banner { height: 600px; overflow: hidden; position: relative; z-index: 3; }
.bannerLeftBar{height: 40px; top: 285px; width: 40px; }
.bannerImage {text-align: center; opacity: 0; }
.bannerSlogan { opacity: 0; text-align: center; position: absolute; width: 300px; height: 300px; z-index: 2; padding: 0 20px; }
.bannerInner { height: 550px; }
.bannerInner h1, .bannerInner h3 { color: white; font-size: 14pt; line-height: 30px; }
.bannerInner h3 { text-align: left; text-indent: 20px; font-size: 11pt; line-height: 30px; font-weight: normal; margin-top: 30px; }
.bannerControl { margin: 0; padding: 0; position: absolute; bottom: 10px; right: 0px; }
.bannerControl li { width: 25px; height: 2px; margin-left: 6px; margin-left: 3px; background: black; float: left; cursor: pointer; }
/*---wrapsemibox---*/
.wrapsemibox { font-family: "Microsoft YaHei"; background-attachment: scroll; background-clip: border-box; background-size: auto auto; border-bottom-color: #CCCCCC; border-bottom-style: double; border-bottom-width: medium; box-shadow: 0 0 4px rgba(0,0,0,0.15); margin-left: auto; margin-right: auto; margin-bottom: 30px; margin-top: -40px; width: 1100px; padding-bottom: 2px; padding-top: 0; position: relative; background-color: #fff; z-index: 0; }
/*-----------------------------Slogan--------------------------------*/
.Slogan { color: #30363f; margin: 20px auto; background: url(../Images/shp.png) top no-repeat; margin-top: -50px; position: relative; z-index: 15; padding-bottom: 0px;}
.sloganContent { width: 1002PX; margin: 0 auto; padding-top: 25px; }
.Slogan h1, .Slogan a { display: inline; font-size: 11pt; font-weight: normal; color: #30363f; line-height: 30px; }
/*-----------------------------ProductShow-------------------------------*/
.dd_pro { background: url(../Images/gray_bg.gif) top repeat-y; ; padding: 20px 0; }
.mlr16 { margin: 0 16px; }
.mlr27 { margin: 10px 27px; }
.proRow { margin-top: 10px; }
.proRow li { width: 320px; height: 250px; float: left; margin-top: 10px; position: relative; background: #fff; overflow: hidden; cursor: pointer; border-bottom: 1px solid #efefef; }
.proImg { width: 320px; height: 220px; }
.proTitle { width: 320px; height: 30px; line-height: 30px; text-align: center; margin: 0 auto; }
.proBelow { background: #FAFAFA; width: 320px; top: 220px; left: 0; height: 30px; z-index: 10; }
.proImg2 { position: absolute; left: -320px; top: 0; }
.proLink { width: 318px; height: 28px; margin: 0 auto; line-height: 30px; text-align: center; border: 1px solid #efefef; }
.proLink a { font-size: 9pt; }
.proControl { width: 200px; height: 30px; overflow: hidden; margin-top: 10px; cursor: pointer; }
.proControl a { display: inline-block; }
.proControl .showMore { width: 50px; font-size: 9pt; line-height: 30px; }
.proCUp, .proCDown { width: 30px; height: 30px; float: right; margin: 0 5px; }
.proCUp { background: url(../Images/proarrowup.jpg) center no-repeat; }
.proCDown { background: url(../Images/proarrowdown.jpg) center no-repeat; }
/*-----------------------------News--------------------------------*/
.NewsAndCommnet { background: url(../Images/gray_bg.gif) top repeat-y; ; padding: 30px 0; }
.News { width: 480px; }
.newsTitle { height: 40px; line-height: 40px; color: #F8044E; }
.newsTitle span.l { width: 158px; display: block; background: #EDEDED; text-align: center; border: 1px solid #D8D8D8; cursor: pointer; }
.newsContent { border: 1px solid #D8D8D8; width: 478px; height: 269px; border-top: none; }
.news_part { height: 290px; }
.news_part_Content { width: 478px; height: 270px; background: #fff; }
.newsContentInner { height: 1500px; width: 478px; }
.news_part_Content li { height: 32px; line-height: 32px; font-size: 10pt; color: #656573; _height: 26px; _line-height: 26px; }
.news_part_Content a { display: block; }
.news_part_Content a:hover { background: #F8044E; color: white; }
.news_part_Content .l { text-indent: 30px; }
.news_part_Content .r { margin-right: 26px; _margin-right: 13px; color: #bbbbc8; }
.video_play { float: right; }
/*-----------------------------Cooperate--------------------------------*/
.imgBorder { width: 140px; height: 140px; display: block; }
.cooperateControl { right: 0; top: -5px; }
.blk_29 { OVERFLOW: hidden; ZOOM: 1; POSITION: relative }
span.LeftBotton, span.RightBotton { display: block; width: 40px; height: 40px; CURSOR: pointer; background: #f3f3f3; }
.Cont { padding-top: 5px; }
.box { float: left; width: 140px; height: 140px; margin: 13px; _margin: 12px 13px; }
.Cooperate .indexContent { position: relative; padding: 0 30px; width: 940px; }
.Cooperate .indexContent li { margin: 0 23px; margin: 10px 8px; _margin: 10px 4px; float: left; }
#cooperateLeftButton, #cooperateRightButton { width: 32px; height: 65px; margin: 0; margin-top: 40px; cursor: pointer; position: absolute; }
/*-----------------------------lightBox--------------------------------*/
#pbCaption { font-weight: bold; padding: 4px; display: inline-block; *display: inline;
background-color: rgba(0,0,0,0.7); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#B0000000, EndColorStr=#B0000000);
zoom: 1; }
#pbNav { display: block; width: 200px; height: 65px; margin: auto; margin-top: 5px; }
#pbPrevBtn, #pbNextBtn, #pbZoomBtn { display: inline-block; width: 70px; height: 65px; outline: none; text-indent: -9000px; background: url(../Images/navbtns.png) no-repeat; }
#pbPrevBtn { background-position: -70px 0; float: left; }
#pbPrevBtn.pbgreyed { background-position: 0 0; }
#pbNextBtn { background-position: -320px 0; float: right; }
#pbNextBtn.pbgreyed { background-position: -390px; }
#pbZoomBtn { width: 60px; background-position: -140px 0; float: left; }
#pbZoomBtn.pbgreyed { background-position: -200px 0; }
#pbZoomBtn.pbzoomed { background-position: -260px 0; }
/*RPO*/
.pro_slist li { width: 126px; overflow: hidden; height: 200px; font-size: 14px; padding: 0 20px; position: relative; display: inline; float: left; text-align: center }
.pro_slist li a { display: block; width: 126px; margin: 0 auto; position: relative; padding-top: 1px; }
.pro_slist li .rad i { background: url(../Images/home_icon_czxixi2014.png) no-repeat; -webkit-transition: all .5s ease-in-out; display: block; margin-left: auto; margin-right: auto }
.pro_slist li .rad { background: #008000; width: 110px; height: 110px; -webkit-border-radius: 110px; overflow: hidden; position: relative; z-index: 2; margin: 8px auto; display: block; -moz-border-radius: 110px; border-radius: 110px }
.pro_slist li .sd { width: 126px; height: 126px; display: block; -webkit-border-radius: 130px; -moz-border-radius: 130px; -webkit-transition: all .5s ease-in-out; -webkit-transform: scale(0.5); border-radius: 130px; background: #e2e2e2; top: 0; left: 0; position: absolute; z-index: 1 }
.pro_slist li p { padding-top: 10px; color: #999; font-size: 14px; font-weight:normal;}
.pro_slist li p strong { font-weight: 100; display: block; line-height: 24px; font-size: 16px }
.pro_slist a:hover { text-decoration: none }
.pro_slist a:hover p { text-decoration: none; color: #333 }
.pro_slist li:hover .sd, .pro_slist li.hover .sd { -webkit-transform: scale(1) }
.pro_slist li:hover .rad i, .pro_slist li.hover .rad i { -webkit-transform: rotate(360deg) }
.pro_slist li:hover .rad, .pro_slist li.hover .rad { background: #EC054B }
.pro_slist li.p .rad i { width: 56px; height: 56px; background-position: -11px -10px; margin-top: 23px }
.pro_slist li.b .rad i { width: 56px; height: 56px; background-position: -93px -9px; margin-top: 23px }
.pro_slist li.t .rad i { width: 56px; height: 56px; background-position: -172px -9px; margin-top: 23px }
.pro_slist li.y .rad i { width: 56px; height: 56px; background-position: -253px -9px; margin-top: 23px }
.pro_slist li.m .rad i { width: 56px; height: 56px; background-position: -332px -9px; margin-top: 22px }
.pro_slist li.e .rad i { width: 56px; height: 56px; background-position: -410px -9px; margin-top: 23px }
.pro_slist li div.txt { position: absolute; left: 6px; border: 1px solid #efefef; width: 150px; top: 60px; padding-top: 60px; padding-bottom: 20px; background-color: #fff }
.pro_slist li:hover div.txt { background: #EC054B; color: #fff; }
.pro_slist li:hover div.txt p { color: #fff; }
.no-wrap {
    width: 71%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 26px;
}
video{
	width: 500px;
}